@using KisiselBlogProje.Concrete
@model List<Contact>
@{
    ViewData["Title"] = "Contact";
}

<section id="contact" class="contact section-bg">
    @foreach (var item in Model)
    {
        <div class="container">

        <div class="section-title">
            <h2>iletişim</h2>
                <p>&nbsp&nbsp&nbsp @item.ContactDesc</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-4">
                <div class="contact-about">
                    <h3>@item.ContactName</h3>
                        <p>&nbsp&nbsp&nbsp @item.ContactSubDesc</p>
                    <div class="social-links">
                            <a href="https://twitter.com/Nisayurdagul" class="twitter"><i class="bi bi-twitter"></i></a>
                       
                            <a href="https://www.instagram.com/ocean.daisy/" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/nisa-%C3%B6yk%C3%BC-yurdag%C3%BCl-38694b201/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="info">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-geo-alt"></i>
                        <p>@item.ContactAdress</p>
                    </div>

                    <div class="d-flex align-items-center mt-4">
                        <i class="bi bi-envelope"></i>
                        <p>@item.ContactEmail</p>
                    </div>

                    <div class="d-flex align-items-center mt-4">
                        <i class="bi bi-phone"></i>
                        <p>@item.ContactPhone</p>
                    </div>

                </div>
            </div>
    
            <div class="col-lg-5 col-md-8">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Adınız Soyadınız" required>
                    </div>
                    <div class="form-group mt-3">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Mesaj" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Gönderiliyor</div>
                        <div class="error-message">Mesajınız gönderilemedi</div>
                        <div class="sent-message">Mesajınız gönderildi.Teşekkürler!</div>
                    </div>
                    <div class="text-center"><button type="submit">Mesaj Gönderin</button></div>
                </form>
            </div>

        </div>

      </div>
    }
    
    
    
</section>

